.chroma {
    background-color: unset !important;
}


p > code, li > a {
    --code-bg: #eef1ff !important;
}

.terms-tags a, .copy-code {
    background: #d2daff !important;
}

.copy-code {
    color: var(--primary) !important;
}

.first-entry {
    min-height: 100px !important;
}

.hljs, code {
    color: #383a42 !important;
}